<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <!-- <link rel="icon" type="image/svg+xml" href="/build/mjreact/vite.svg" /> -->
        <link rel="icon" type="image/svg+xml" href="/build/mjreact/favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ReactJS + Spring Data REST</title>
        <script type="module" crossorigin src="/build/mjreact/assets/js/index.js"></script>
        <link rel="stylesheet" href="/main.css" />
    </head>
    <body>
        <div id="react"></div>
    </body>
</html>